* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header h1 {
  display: inline-block;
  padding-left: 30px;
}

.header nav {
  float: right;
  padding-top: 15px;
  margin-right: 20px;
}

.header li {
  display: inline-block;
  padding-right: 25px;
}

span[data-tooltip] {
  position: relative;
  text-decoration: underline;
  color: #000;
}

/* used to add a hover effect to show a coming soon message for the resume and last image in the work section */
span[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 5.5px;
  bottom: 24px;
  min-width: 100px;
  background-color: black;
  padding: 12px;
  color: white;
  font-size: 70%;
  z-index: 10;
}
.background-banner {
  height: 400px;
  width: 100%;
  background-image: url("../images/seattle.jpg");
  background-size: cover;
  background-position: center;
}
.background {
  position: relative;
}
.background-title {
  position: absolute;
  width: 300px;
  right: 0px;
  top: 10%;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 80%;
}

.background-title p {
  font-size: 90%;
}

main {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

/* titles class controls the design of the aside elements on the left side of the page */
.titles {
  flex-basis: 130px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 4px solid black;
  text-align: right;
  padding-right: 20px;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
}

.about {
  display: flex;
  width: 100%;
  order: 0;
  padding-bottom: 50px;
}

.work {
  display: flex;
  width: 100%;
  order: 1;
  padding-bottom: 50px;
}
.contact {
  display: flex;
  width: 100%;
  order: 2;
  padding-bottom: 50px;
}

.about img {
  border: 4px;
  border-style: solid;
  border-color: black;
}

/* this width aligns the text in the about me section, with the photos in the work section */
#about-details {
  width: 80%;
}

/* using flex allows you to control where you want the contact details and links to show on the page */
#contact-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

#contact-list li {
  display: inline-block;
  padding-top: 40px;
  padding-right: 40px;
}

.content-work {
  width: 80%;
}

.img-large {
  width: 100%;
  position: relative;
}

.img-small {
  width: 48.5%;
  position: relative;
}

.work-background {
  background-size: cover;
  background-position: center;
  border: 4px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

/* adds a box shadow with a pointer cursor when hovering over the images in the work section */
.work-background:hover {
  box-shadow: 10px 10px 8px #888888;
  cursor: pointer;
}

/* images for the work section are saved as backgrounds. This helped me keep more control over setting the heights without squishing the images. */
#background-project1 {
  height: 300px;
  width: 100%;
  background-image: url("../images/retro-systems.jpg");
}

#background-project2 {
  height: 200px;
  width: 100%;
  background-image: url("../images/jp-choose-your-own.jpg");
}

#background-project3 {
  height: 200px;
  width: 100%;
  background-image: url("../images/sketch-plan.jpg");
}

#background-project4 {
  height: 200px;
  width: 100%;
  background-image: url("../images/top-down-view1.jpg");
}

#background-project5 {
  height: 200px;
  width: 100%;
  background-image: url("../images/top-down-view2.jpg");
}
.work-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work-images img {
  border: 4px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

.img-title {
  position: absolute;
  top: 33%;
  margin-left: 5px;
  margin-top: 5px;
  padding-left: 20px;
  background-color: black;
  color: white;
  width: 275px;
  font-size: 80%;
}

/* aligns the text in the footer */
.footer {
  text-align: center;
}

@media screen and (max-width: 860px) {
  /* removed the float right, so the nav adjusts to the left and removes some padding to be closer to the h1 */
  .header nav {
    float: none;
    padding-top: 0px;
  }
  /* reduces the height of the banner background image */
  .background-banner {
    height: 250px;
  }
  /* reduces the width and font size in the background title */
  .background-title {
    width: 50%;
    font-size: 60%;
  }
  /* moves the image titles to the top and reduces the font size. Width is reduced to avoid the title hanging over the edge */
  .img-title {
    top: 0;
    width: 95%;
    font-size: 60%;
  }
}

/* media query sets the small images width to 100% so there is no more than 1 per row */
@media screen and (max-width: 576px) {
  .img-small {
    width: 100%;
  }
}
