* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HOMEWORK ACTION: Make the header a flexbox... */
.header h1 {
  display: inline-block;
  padding-left: 30px;
}

.header nav {
  float: right;
  padding-top: 15px;
  margin-right: 20px;
}

.header li {
  display: inline-block;
  padding-right: 25px;
}

.background {
  height: 400px;
  width: 100%;
  background-image: url("../images/seattle.jpg");
  background-size: cover;
  background-position: center;
}

main {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.titles {
  flex-basis: 130px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 3px solid black;
  text-align: right;
  padding-right: 20px;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
}

.about {
  display: flex;
  width: 100%;
  order: 0;
  padding-bottom: 50px;
}
.work {
  display: flex;
  width: 100%;
  order: 1;
  padding-bottom: 50px;
}
.contact {
  display: flex;
  width: 100%;
  order: 2;
  padding-bottom: 50px;
}

/* using flex allows you to control where you want the contact details and links to show on the page */
/* margin and padding of 0 clears out the default styling */
#contact-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

#contact-list li {
  display: inline-block;
  padding-top: 40px;
  padding-right: 40px;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.work-images {
  display: flex;
  flex-wrap: wrap;
}
.work-images img {
  border: 4px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

#project-1 {
  width: 100%;
  position: relative;
}

#project-2 {
  width: 50%;
  position: relative;
}
#project-3 {
  width: 50%;
  position: relative;
}

.img-title {
  position: absolute;
  top: 33%;
  margin: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  width: 150px;
}

.content-work {
  width: 70%;
}

.footer {
  text-align: center;
}
